<div class="changes-container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="playerName" placeholder="Enter your name" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>

    <div class="images-players">
      <img
        *ngFor="let image of imagesPlayer; let i = index"
        [src]="image"
        alt="Player Image {{ i }}"
      />
    </div>
    <div class="button-edit-delete">
      <button mat-button color="basic" (click)="saveChanges()">Save</button>
      <button mat-button color="warn" (click)="deletePlayer()">
        Delete Player
      </button>
    </div>
  </form>
</div>
